*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/******************/
.teste{
    width: 100%;
    height: 1020px;
    margin-top: 20px;
    background-color: cornflowerblue;
}

/*****Responsivo*******/
@media (max-width:450px) {
    
}