/*** Configurações Gerais ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/********* Rodapé ************/
footer{
    height: 50px;
    display: flex;
}
.logo-rodape{
    width: 30%;
    background-color: #084154;
}
.logo-rodape img{
    margin: 11px 44px 0 0;
    float: right;  
}
.direitos-reservados{
    width: 90%;
    background-color: #3EC6E0;
}
.direitos-reservados p{
    font-size: 14px;
    margin: 17px 0 0 35px;
    color: #FFFFFF;
}